@main("Kristijan Pajtasev - Add empoyment")("")("") {

  <form method="post" action="/employment/create">
    <label>Company Name:
      <input name="companyName" />
    </label>

    <label>Role Name:
      <input name="roleName" />
    </label>

    <label>Start date:
      <input name="startDate" />
    </label>

    <label>End date:
      <input name="endDate" />
    </label>

    <label>Company Description:
      <textarea name="companyDescription"></textarea>
    </label>

    <label>Description:
      <textarea name="description"></textarea>
    </label>

    <label>Key projects:
      <textarea name="keyProyects"></textarea>
    </label>

    <label>Responsibilities:
      <textarea name="responsibilities"></textarea>
    </label>

    <label>Technologies:
      <textarea name="technologies"></textarea>
    </label>

    <label>Tags:
      <input name="tags" />
    </label>

    <input type="submit" />
  </form>
}