@(employments: List[models.Employment])(tags: String)

@main("Kristijan Pajtasev - CV")(tags)("CV") {

    @for(employment <- employments) {
        <article>
            <h2><a href="/employment/@{employment.getId()}">@{employment.getCompanyName()} -
                @{employment.getRoleName()}</a></h2>
            <div>@{employment.getStartDate().format("MMMM yyyy")} -
                @if(employment.getEndDate() != null && !employment.getEndDate().equals("")) {
                    @{employment.getEndDate().format("MMMM yyyy")}
                } else {
                    Present
                }
            </div>
            <div>@{employment.getTags()}</div>
        </article>
    }



}